/* Css for the RepoFollow site */

.centered {
  text-align: center;
}

/* Login Page */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Feed */
.navbar-form input {
  margin-left: 30px;
  margin-right: 5px;
}
.navbar-form button {
  margin-right: 30px;
}

.container#main {
  margin-top: 75px;
}

.commitfeed {
  background-color: white;
  margin-top:-50px;
  margin-bottom: 55px;
}

.commit {
  border-bottom: 1px solid #e7eaec;
  height:110px;
  padding:5px;
}

.profile_img{
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.highlight pre{
  padding-left: 2px;
  padding-bottom: 3px;
  padding-top:3px;
  margin-top:0;margin-bottom:0;
  word-break:normal;
  white-space:nowrap;
  background-color:transparent;
  border:0;
  background-color: #eee;
  height: 50px;
}

.goarrow {
  height: 70px;
  opacity: 0.3;
  margin-top:15px;
  margin-right:5px;
}

.feed-title {
  border-bottom: 1px solid #e7eaec;
  height:70px;
  padding:5px;
}

.block-link {
  display:block;
}

.loadmore{
  height:45px;
  padding:10px;
}
/*
.loadmore i {
  margin-top:5px;
}*/

.loadmore a{
  margin-top:10px;
}


#overlayspinner{
   position: absolute;
   left: 50%;
   top: 250px;
   margin:0px auto;
   z-index: 9999;
   display: none;
}
