{# feed.html: Feed of commits for followed repos #}
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Commit Feed {% endblock title %}

{% block stylesheets %}
  {{block.super}}
  <style>
    body{
      background-color: #eee;
    }
  </style>
{% endblock %}

{% block header %}
    {{block.super}}
{% endblock header %}

{% block content %}
    {{block.super}}
	<div class="container" id="main">
		<div class="alert alert-error alert-danger" role="alert" id="client_error" style="display: none">
		  <button type="button" class="close" onclick="$('.alert#client_error').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		  <strong>Uh Oh:</strong> <span id="error_message"></span>
		</div>
	</div>

  <div class="col-md-8 col-md-offset-2 commitfeed">
    <div class="row feed-title">
      <h2 class="centered">Your commit feed</h2>
    </div>
    <div id="commits">
    </div>
    <div class="row centered loadmore">
      <a href="javascript:void(0);" onclick="follower.load_more_commits('{% url 'follower:get_commits' %}');" style="display: none;">
        View More
      </a>
      <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  {{block.super}}
  <script type="text/javascript">
    follower.load_more_commits("{% url 'follower:get_commits' %}");
  </script>
{% endblock scripts %}
