{# feed.html: Feed of commits for followed repos #}
{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Commit Feed {% endblock title %}

{% block stylesheets %}
  {{block.super}}
  <style>
    body{
      background-color: #eee;
    }
  </style>
{% endblock %}

{% block header %}
    {{block.super}}
{% endblock header %}

{% block content %}
    {{block.super}}
	<div class="container" id="main">
		<div class="alert alert-error alert-danger" role="alert" id="client_error" style="display: none">
		  <button type="button" class="close" onclick="$('.alert#client_error').hide();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		  <strong>Uh Oh:</strong> <span id="error_message"></span>
		</div>
	</div>

  <div class="col-md-6 col-md-offset-3 commitfeed">
    {% for commit in commits %}
      <div class="commit">
        {{commit.message}}
      </div>
    {% endfor %}
  </div>
{% endblock content %}
