{# base.html: Parent html for the repofollow site #}

{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>
			{% block title %} RepoFollow {% endblock title %}
		</title>

		{% block stylesheets %}
			<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
			<link href="{% static 'css/repofollow.css' %}" rel="stylesheet" type="text/css" media="screen"></a>
		{% endblock stylesheets %}
	</head>
	<body>

		{% block header %}

		{% endblock header %}

		{% block content %}
		{% endblock content %}

		{% block scripts %}
			<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
			<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="{% static 'js/repofollow.js' %}"></script>
		{% endblock scripts %}
	</body>
</html>
